<h1>Terms of Service</h1>
<h4>Last Updated: November 20, 2010</h4>
<p>
  Seven Minute Apps, LLC. (“Seven Minute Apps”, or “we”) provides our users the ability to enjoy their favorite content, from either social networking services (“SNSs”) or general web content, in a sleek and innovative format. The services offered by Seven Minute Apps include our software applications (including any updates, new versions or new releases thereof) for use on mobile devices including, but not limited to, Apple’s iPad (each a “Seven Minute Apps Application”), our website located at www.sevenminuteapps.com (“Site”) and any other services offered by Seven Minute Apps in connection with our Seven Minute Apps Application or the Site (any and all of the foregoing the “Services”). The Services do not include any SNS or other third party service you may choose to access via the Services.
</p>
<p>
  Please read the following terms and conditions (“Terms of Use”) carefully. These Terms of Use govern your access to and use of the Site, Services and Seven Minute Apps Content (defined below) and set forth the legally binding terms for your use of the Site, Services and Seven Minute Apps Content, whether or not you are a Seven Minute Apps App User (defined below) or a visitor just browsing the Site. A “Seven Minute Apps App User” is a person who has downloaded and installed a copy of the Seven Minute Apps Application on his or her mobile device.
</p>
<p>
  SPECIAL NOTE TO SEVEN MINUTE APPS APP USERS: Without limiting any other terms of these Terms of Use, by using an SNS via the Services you understand and agree that Seven Minute Apps will access and store your SNS account information and content so that they are available to you through your use of the Seven Minute Apps Application and you give Seven Minute Apps permission to do so.
</p>
<p>
  Certain areas of the Site and Services (and your access to or use of Seven Minute Apps Content) may have different terms and conditions posted or may require you to agree to and accept additional terms and conditions. If there is a conflict between these Terms of Use and terms and conditions posted for a specific area of the Site, Services or Seven Minute Apps Content, the latter terms and conditions will take precedence with respect to your use of or access to that area of the Site, Services or Seven Minute Apps Content.
</p>
<p>
  YOU ACKNOWLEDGE AND AGREE THAT BY ACCESSING OR USING THE SEVEN MINUTE APPS APPLICATION, SITE, OR SERVICES, BY DOWNLOADING THE SEVEN MINUTE APPS APPLICATION OR POSTING OR ACCESSING ANY CONTENT ON THE SITE OR THROUGH THE SERVICES, YOU ARE INDICATING THAT YOU HAVE READ, UNDERSTAND AND AGREE TO BE BOUND BY THESE TERMS OF USE. IF YOU DO NOT AGREE TO THESE TERMS OF USE, THEN YOU HAVE NO RIGHT TO ACCESS OR USE THE SITE, SERVICES OR SEVEN MINUTE APPS CONTENT.
</p>

<h3>Modification</h3>
<p>
Seven Minute Apps reserves the right, in its sole discretion, to modify, discontinue or terminate the Site or Services or to modify these Terms of Use, at any time and without prior notice. If we modify these Terms of Use, we will post the modification on the Site or within the Seven Minute Apps Application or otherwise provide you with notice of the modification. We will also update the “Last Updated Date” in these Terms of Use. By continuing to access or use the Site or Services (including any Seven Minute Apps Application) after we have posted a modification to these Terms of Use or have provided you with notice of a modification, you are indicating that you agree to be bound by the modified Terms of Use. If the modified Terms of Use are not acceptable to you, your only recourse is to cease using the Site and Services.
</p>

<h3>Eligibility and Access</h3>
<p>
The Site, Services and Seven Minute Apps Content are intended solely for persons who are 13 or older. Any access to or use of the Site, Services and Seven Minute Apps Content by anyone under 13 is expressly prohibited. By accessing or using the Site, Services and Seven Minute Apps Content you represent and warrant that you are 13 or older.
</p>
<p>
You agree to provide accurate, current and complete information to Seven Minute Apps in connection with your use of the Site and Services. You will immediately notify Seven Minute Apps of any unauthorized use of your Seven Minute Apps Application and you will not use the Seven Minute Apps Application to access or use third party services to which you do not have the right to access. Seven Minute Apps reserves the right to suspend or terminate your access to the Site and Services if any information provided to Seven Minute Apps in connection with your use of the Site and Services proves to be inaccurate, not current or incomplete. If you are not a Seven Minute Apps App User you may browse all areas of the Site or use the parts of the Services that are not limited to Seven Minute Apps App Users only.
</p>

<h3>Third Party Materials and Agreements</h3>
<ul>
  <li>
You may be able to access or use third party services, resources, content or information (“Third Party Materials”) via the Seven Minute Apps Application. You acknowledge sole responsibility for and assume all risk arising from your access to or use of any such Third Party Materials and Seven Minute Apps disclaims any liability that you may incur arising from your access to or use of such Third Party Materials or User Content (defined below) via a Seven Minute Apps Application. You acknowledge and agree that Seven Minute Apps: (a) is not responsible for the availability or accuracy of such Third Party Materials or the products or services on or available from such Third Party Materials; and (b) has no liability to you or any third party for any harm, injuries or losses suffered as a result of your access to or use of such Third Party Materials. Your ability to access or link to Third Party Materials or third party services (including any SNS) does not imply any endorsement by Seven Minute Apps of Third Party Materials or any such third party services.
  </li>
  <li>
If you have obligations to any third party, as a non limiting example, such as under the terms, conditions or policies of an SNS, you and not Seven Minute Apps are responsible for your compliance with those obligations. By allowing you to use the Services, Seven Minute Apps does not suggest, warrant or guaranty that your access to any third party service (or any Third Party Materials therein) in connection with your use of the Services is permitted by that third party service, nor does Seven Minute Apps suggest, warrant or guaranty that your use complies with any laws or regulations that may apply to your use of any third party service. Seven Minute Apps is not liable for your failure to comply with any applicable local, state, national and foreign laws, treaties and regulations or any contracts, rules, policies or procedures applicable to your activities while you use the Site and Services.
  </li>
</ul>

<h3>Privacy</h3>
<p>
  See Seven Minute Apps’s Privacy Policy located at http://www.sevenminuteapps.com/privacy for information and notices concerning Seven Minute Apps’s collection and use of your personal information. If you have any questions about the Seven Minute Apps Privacy Policy, please contact Seven Minute Apps at privacy@sevenminuteapps.com.
</p>
<p>
  Certain Definitions Certain types of content are made available through the Site and Services. “Seven Minute Apps Content” means Seven Minute Apps proprietary content, including but not limited to, Seven Minute Apps trademarks and logos, made available through the Site and Services, excluding Third Party Materials and User Content. “User Content” means the text, data, graphics, images, photos, video or audiovisual content, hypertext links and any other content that a Seven Minute Apps user provides directly to Seven Minute Apps via the Site and Services, as applicable.
</p>

<h3>Ownership</h3>
<p>
  The Site, Services and Seven Minute Apps Content are protected by copyright, trademark, and other laws of the United States and foreign countries. Except as expressly provided in these Terms of Use, Seven Minute Apps and its licensors exclusively own all right, title and interest in and to the Site, Services and Seven Minute Apps Content, including all associated intellectual property rights. You will not remove, alter or obscure any copyright, trademark, service mark or other proprietary rights notices incorporated in or accompanying the Site, Services or Seven Minute Apps Content. Seven Minute Apps claims no ownership interest in any Third Party Materials and expressly disclaims any and all liability relating thereto.
</p>

<h3>Seven Minute Apps Application License</h3>
<p>
  License Grant. Subject to your compliance with the terms and conditions of these Terms of Use, Seven Minute Apps grants you limited, non-exclusive, non-transferable license, without the right to sublicense, to download and install a copy of the Seven Minute Apps Application onto a single mobile device that you own and control and run such copy of the Seven Minute Apps Application solely for your internal personal use. Furthermore, with respect to any iTunes Store Sourced App (defined below) you will only use the iTunes Store Sourced App as permitted by the “Usage Rules” set forth in the Apple App Store Terms of Service. Seven Minute Apps reserves all rights in the Seven Minute Apps Application not expressly granted to you in these Terms of Use.
</p>
<p>
  Restrictions. Except as expressly specified in these Terms of Use, you may not (a) copy or modify the Seven Minute Apps Application, including, but not limited to adding new features or otherwise making adaptations that alter the functioning of the Seven Minute Apps Application; (b) transfer, sell, rent, lease, distribute, sublicense or otherwise assign any rights to, or any portion of, the Seven Minute Apps Application to any third party; or (c) make the functionality of the Seven Minute Apps Application available to multiple users through any means, including, but not limited to distribution of the Seven Minute Apps Application or by uploading the Seven Minute Apps Application to a network or file-sharing service or through any hosting, application services provider or any other type of service. The Seven Minute Apps Application contains trade secrets, and in order to protect those secrets you agree not to disassemble, decompile or reverse engineer the Seven Minute Apps Application, in whole or in part, or permit or authorize a third party to do so, except to the extent such activities are expressly permitted by law notwithstanding this prohibition. You will comply with any technical restrictions in the Seven Minute Apps Application that allow you to use the Seven Minute Apps Application only in certain ways.
</p>
<p>
  Updates and Upgrades; No Obligation. Seven Minute Apps is not obligated to maintain or support the Seven Minute Apps Application, or to provide you with updates, upgrades or services related thereto. You acknowledge that Seven Minute Apps may from time to time in its sole discretion issue updates or upgrades to the Seven Minute Apps Application, and may automatically update or upgrade the version of the Seven Minute Apps Application that you are using on your mobile device. You consent to such automatic updating or upgrading on your mobile device, and agree that the terms and conditions of these Terms of Use will apply to all such updates or upgrades.
</p>
<p>
  Term and Termination. The license to the Seven Minute Apps Application granted under these Terms of Use remains in effect for a period of 75 years, unless earlier terminated by you or Seven Minute Apps in accordance with this provision. You may terminate the license at any time by destroying all copies of the Seven Minute Apps Application in your possession or control. Without limiting any other terms of these Terms of Use, the license will automatically terminate without notice from Seven Minute Apps if you breach any terms of these Terms of Use. Upon any termination of these Terms of Use you must cease all use of the Seven Minute Apps Application and promptly delete and destroy all copies, full or partial, of the Seven Minute Apps Application.
</p>
<p>
  Proprietary Rights. The copy of the Seven Minute Apps Application is licensed, not sold, to you. You agree that Seven Minute Apps and its licensors own all right, title and interest in and to the Seven Minute Apps Application, including all intellectual property rights therein, and that Seven Minute Apps retains ownership of all copies of the Seven Minute Apps Application even after installation on your mobile device. The Seven Minute Apps Application is protected by United States copyright law and international treaties. You will not delete or in any manner alter the copyright, trademark, and other proprietary rights notices or markings appearing on the Seven Minute Apps Application as delivered to you.
</p>
<p>
  U.S. Government End Users. The Seven Minute Apps Application and related documentation are “commercial items” as that term is defined in FAR 2.101, consisting of “commercial computer software” and “commercial computer software documentation,” respectively, as such terms are used in FAR 12.212 and DFARS 227.7202. If the Seven Minute Apps Application and related documentation are being acquired by or on behalf of the U.S. Government, then, as provided in FAR 12.212 and DFARS 227.7202-1 through 227.7202-4, as applicable, the U.S. Government’s rights in the Seven Minute Apps Application and related documentation will be only those specified in these Terms of Use.
</p>
<p>
  Export Control. You may not use, export, re-export, import, or transfer the Seven Minute Apps Application except as authorized by United States law, the laws of the jurisdiction in which you obtained the Seven Minute Apps Application, and any other applicable Laws. In particular, but without limitation, the Seven Minute Apps Application may not be exported or re-exported: (a) into any United States embargoed countries; or (b) to anyone on the U.S. Treasury Department’s list of Specially Designated Nationals or the U.S. Department of Commerce’s Denied Person’s List or Entity List. By using the Seven Minute Apps Application, you represent and warrant that you are not located in any such country or on any such list. You also will not use the Seven Minute Apps Application for any purpose prohibited by U.S. law, including the development, design, manufacture or production of missiles, nuclear, chemical or biological weapons.
</p>
<p>
  Seven Minute Apps Application from iTunes. The following applies to any Seven Minute Apps Application accessed through or downloaded from the Apple iTunes Store (“iTunes Store Sourced App”):
</p>
<ul>
  <li>
    You acknowledge and agree that (i) these Terms of Use are concluded between you and Seven Minute Apps only, and not Apple, and (ii) Seven Minute Apps, not Apple, is solely responsible for the iTunes Store Sourced App and content thereof. Your use of the iTunes Store Sourced App must comply with the App Store Terms of Service.
  </li>
  <li>
    You acknowledge that Apple has no obligation whatsoever to furnish any maintenance and support services with respect to the iTunes Store Sourced App.
  </li>
  <li>
    In the event of any failure of the iTunes Store Sourced App to conform to any applicable warranty, you may notify Apple, and Apple will refund the purchase price for the iTunes Store Sourced App to you and to the maximum extent permitted by applicable law, Apple will have no other warranty obligation whatsoever with respect to the iTunes Store Sourced App, and any other claims, losses, liabilities, damages, costs or expenses attributable to any failure to conform to any warranty will be Seven Minute Apps’s sole responsibility.
  </li>
  <li>
    ou and Seven Minute Apps acknowledge that, as between Seven Minute Apps and Apple, Apple is not responsible for addressing any claims of you or any third party relating to the iTunes Store Sourced App or your possession and use of the iTunes Store Sourced App, including, but not limited to: (i) product liability claims; (ii) any claim that the iTunes Store Sourced App fails to conform to any applicable legal or regulatory requirement; and (iii) claims arising under consumer protection or similar legislation.
  </li>
  <li>
    You and Seven Minute Apps acknowledge that, in the event of any third party claim that the iTunes Store Sourced App or your possession and use of that iTunes Store Sourced App infringes that third party’s intellectual property rights, as between Seven Minute Apps and Apple, Seven Minute Apps, not Apple, will be solely responsible for the investigation, defense, settlement and discharge of any such intellectual property infringement claim to the extent required by these Terms of Use.
  </li>
  <li>
    You and Seven Minute Apps acknowledge and agree that Apple, and Apple’s subsidiaries, are third party beneficiaries of these Terms of Use as related to your license of the iTunes Store Sourced App, and that, upon your acceptance of the terms and conditions of these Terms of Use, Apple will have the right (and will be deemed to have accepted the right) to enforce these Terms of Use as related to your license of the iTunes Store Sourced App against you as a third party beneficiary thereof.
  </li>
  <li>
    Without limiting any other terms of these Terms of Use, you must comply with all applicable third party terms of agreement when using the iTunes Store Sourced App, including, without limitation, any terms and conditions governing your use of an SNS.
  </li>
</ul>

<h3>User Content</h3>
<p>
  By making available any User Content through the Site and Services, you hereby grant to Seven Minute Apps a worldwide, irrevocable, perpetual, non-exclusive, transferable, royalty-free license, with the right to sublicense, to use, copy, adapt, modify, distribute, publicly display, publicly perform, transmit, stream, broadcast and otherwise exploit such User Content only on, through or by means of the Site and the Services. Seven Minute Apps does not claim any ownership rights in any such User Content and nothing in these Terms of Use will be deemed to restrict any rights that you may have to use and exploit any such User Content.
</p>
<p>
  You acknowledge and agree that you are solely responsible for all User Content that you make available through the Site or Services. Accordingly, you represent and warrant that: (i) you either are the sole and exclusive owner of all User Content that you make available through the Site or Services or you have all rights, licenses, consents and releases that are necessary to grant to Seven Minute Apps the rights in such User Content, as contemplated under these Terms of Use; and (ii) neither the User Content nor your accessing, posting, submission or transmittal of the User Content or Seven Minute Apps’s use of the User Content (or any portion thereof) on, through or by means of the Site and the Services will infringe, misappropriate or violate a third party’s patent, copyright, trademark, trade secret, moral rights or other intellectual property rights, or rights of publicity or privacy, or result in the violation of any applicable law or regulation.
</p>

<h3>Copyrighted Materials: No Infringing Use</h3>
<p>
  You will not use the Site or Services to offer, display, distribute, transmit, route, provide connections to or store any material that infringes copyrighted works or otherwise violates or promotes the violation of the intellectual property rights of any third party. Seven Minute Apps has adopted and implemented a policy that provides for the termination in appropriate circumstances of the accounts of users or access to the Site and Services to users who repeatedly infringe or are believed to be or are charged with repeatedly infringing the rights of copyright holders. Please see the Seven Minute Apps Copyright Policy www.sevenminuteapps.com/copyright for further information.
</p>

<h3>Feedback</h3>
<p>
  We welcome and encourage you to provide feedback, comments and suggestions for improvements to the Site and Services (“Feedback”). You may submit Feedback by emailing us at	. You acknowledge and agree that all Feedback will be the sole and exclusive property of Seven Minute Apps and you hereby irrevocably assign to Seven Minute Apps and agree to irrevocably assign to Seven Minute Apps all of your right, title, and interest in and to all Feedback, including without limitation all worldwide patent rights, copyright rights, trade secret rights, and other proprietary or intellectual property rights therein. At Seven Minute Apps’s request and expense, you will execute documents and take such further acts as Seven Minute Apps may reasonably request to assist Seven Minute Apps to acquire, perfect, and maintain its intellectual property rights and other legal protections for the Feedback.
</p>

<h3>Interactions between Users</h3>
<p>
  You are solely responsible for your interactions (including any disputes) with other users. You understand that Seven Minute Apps does not in any way screen Seven Minute Apps users. You are solely responsible for, and will exercise caution, discretion, common sense and judgment in, using the Site and Services and disclosing personal information to other Seven Minute Apps users. You agree to take reasonable precautions in all interactions with other Seven Minute Apps users, particularly if you decide to meet a Seven Minute Apps user offline, or in person. Your use of the Site, Services, Seven Minute Apps Content and any other content made available through the Site or Services is at your sole risk and discretion and Seven Minute Apps hereby disclaims any and all liability to you or any third party relating thereto. Seven Minute Apps reserves the right to contact Seven Minute Apps users, in compliance with applicable law, in order to evaluate compliance with the rules and policies in these Terms of Use. You will cooperate fully with Seven Minute Apps to investigate any suspected unlawful, fraudulent or improper activity via the Services.
</p>

<h3>General Prohibitions</h3>
<p>
  You agree not to do any of the following while using the Site, Services or Seven Minute Apps Content:
</p>
<ul>
  <li>
    Access, post, submit or transmit any text, graphics, images, software, music, audio, video, information or other material that: (i) infringes, misappropriates or violates a third party’s patent, copyright, trademark, trade secret, moral rights or other intellectual property rights, or rights of publicity or privacy; (ii) violates, or encourages any conduct that would violate, any applicable law or regulation or would give rise to civil liability; (iii) is fraudulent, false, misleading or deceptive; (iv) is defamatory, obscene, vulgar or offensive; (v) constitutes child pornography or child erotica; (vi)promotes discrimination, bigotry, racism, hatred, harassment or harm against any individual or group; (vii) is violent or threatening or promotes violence or actions that are threatening to any other person; or (viii) promotes illegal or harmful activities or substances (including, but not limited to activities that promote or provide instructional information regarding the manufacture or purchase of illegal weapons or illegal substances).
  </li>
  <li>
    Use, display, mirror, frame or utilize framing techniques to enclose the Site or Services, or any individual element or materials within the Site or Services, Seven Minute Apps’s name, any Seven Minute Apps trademark, logo or other proprietary information, the content of any text or the layout and design of any page or form contained on a page, without Seven Minute Apps’s express written consent;
  </li>
  <li>
    Access, tamper with, or use non-public areas of the Site or Services, Seven Minute Apps’s computer systems, or the technical delivery systems of Seven Minute Apps’s providers;
  </li>
  <li>
    Attempt to probe, scan, or test the vulnerability of any Seven Minute Apps system or network or breach any security or authentication measures;
  </li>
  <li>
    Avoid, bypass, remove, deactivate, impair, descramble or otherwise circumvent any technological measure implemented by Seven Minute Apps or any of Seven Minute Apps’s providers or any other third party (including another user) to protect the Site, Services or Seven Minute Apps Content;
  </li>
  <li>
    Attempt to access or search the Site, Services or Seven Minute Apps Content or download Seven Minute Apps Content from the Site or Services through the use of any engine, software, tool, agent, device or mechanism (including spiders, robots, crawlers, data mining tools or the like) other than the software and/or search agents provided by Seven Minute Apps or other generally available third party web browsers (such as Microsoft Internet Explorer, Mozilla Firefox, Safari or Opera);
  </li>
  <li>
    Send any unsolicited or unauthorized advertising, promotional materials, email, junk mail, spam, chain letters or other form of solicitation;
  </li>
  <li>
    Use any meta tags or other hidden text or metadata utilizing a Seven Minute Apps trademark, logo URL or product name without Seven Minute Apps’s express written consent;
  </li>
  <li>
    Use the Site, Services or Seven Minute Apps Content for any commercial purpose or the benefit of any third party or in any manner not permitted by these Terms of Use;
  </li>
  <li>
    Forge any TCP/IP packet header or any part of the header information in any email or newsgroup posting, or in any way use the Site, Services or Seven Minute Apps Content to send altered, deceptive or false source- identifying information;
  </li>
  <li>
    Attempt to decipher, decompile, disassemble or reverse engineer any of the software used to provide the Site, Services or Seven Minute Apps Content;
  </li>
  <li>
    Interfere with, or attempt to interfere with, the access of any user, host or network connected to the Site or Services, including, without limitation, sending a virus, overloading, flooding, spamming, or mail-bombing the Site;
  </li>
  <li>
    Collect or store any personally identifiable information from the Site or Services from other users of the Site or Services without their express permission;
  </li>
  <li>
    Impersonate or misrepresent your affiliation with any person or entity;
  </li>
  <li>
    Violate any applicable law or regulation; or
  </li>
  <li>
    Encourage or enable any other individual to do any of the foregoing.
  </li>
</ul>
<p>
  Seven Minute Apps will have the right to investigate and prosecute violations of any of the above, including intellectual property rights infringement and Site and Services security issues, to the fullest extent of the law. Seven Minute Apps may involve and cooperate with law enforcement authorities in prosecuting users who violate these Terms of Use. You acknowledge that Seven Minute Apps has no obligation to monitor your access to or use of the Site, Services or Seven Minute Apps Content or to review or edit any User Content, but has the right to do so for the purpose of operating the Site and Services, to ensure your compliance with these Terms of Use, or to comply with applicable law or the order or requirement of a court, administrative agency or other governmental body. Seven Minute Apps reserves the right, at any time and without prior notice, to remove or disable access to any Seven Minute Apps Content and any User Content, that Seven Minute Apps, in its sole discretion, considers to be in violation of these Terms of Use or otherwise harmful to the Site or Services.
</p>

<h3>Sweepstakes and Contests</h3>
<p>
  Seven Minute Apps may operate sweepstakes, contests and similar promotions (collectively, “Promotions”) through the Site and Services. You should carefully review the rules (e.g., the “Official Rules”) of each Promotion in which you participate through the Site and Service, as they may contain additional important information about Seven Minute Apps rights to and ownership of the submissions you make as part of the Promotions and as a result of your participation in such Promotion. To the extent that the terms and conditions of such Official Rules conflict with these Terms of Use, the terms and conditions of such Official Rules will control.
</p>

<h3>Termination</h3>
<p>
  Without limiting other remedies, Seven Minute Apps may at any time suspend, terminate, or refuse to provide you with access to the Site or Services. In addition, Seven Minute Apps may notify authorities or take any actions it deems appropriate, without notice to you, if Seven Minute Apps suspects or determines, in its own discretion, that you may have or there is a significant risk that you have (i) failed to comply with any provision of these Terms of Use or any policies or rules established by Seven Minute Apps; or (ii) engaged in actions relating to or in the course of using the Site or Services that may be illegal or cause liability, harm, embarrassment, harassment, abuse or disruption for you, Seven Minute Apps users, Seven Minute Apps or any other third parties or the Site or Services.
</p>
<p>
  Without limiting any other terms of these Terms of Use, you may stop using the Site and Services at any time.
</p>
<p>
  After any termination, you understand and acknowledge that we will have no further obligation to provide the Site or Services and all licenses and other rights granted to you by these Terms of Use will immediately cease. Seven Minute Apps will not be liable to you or any third party for termination of the Site or Services or termination of your use of either. UPON ANY TERMINATION OR SUSPENSION, ANY CONTENT, MATERIALS OR INFORMATION (INCLUDING USER CONTENT) THAT YOU HAVE SUBMITTED ON THE SITE OR VIA THE SERVICES WILL NO LONGER BE ACCESSIBLE BY YOU VIA THE SERVICES THEREAFTER.
</p>
<p>
  Any suspension, termination or cancellation will not affect your obligations to Seven Minute Apps under these Terms of Use (including, without limitation, proprietary rights and ownership, indemnification and limitation of liability), which by their sense and context are intended to survive such suspension, termination or cancellation.
</p>

<h3>Disclaimers</h3>
<p>
  THE SITE, SERVICES, SEVEN MINUTE APPS CONTENT, THIRD PARTY MATERIALS AND USER CONTENT ARE PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED. WITHOUT LIMITING THE FOREGOING, SEVEN MINUTE APPS EXPLICITLY DISCLAIMS ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, QUIET ENJOYMENT OR NON- INFRINGEMENT, AND ANY WARRANTIES ARISING OUT OF COURSE OF DEALING OR USAGE OF TRADE. SEVEN MINUTE APPS MAKES NO WARRANTY THAT THE SITE, SERVICES, SEVEN MINUTE APPS CONTENT, THIRD PARTY MATERIALS OR USER CONTENT WILL MEET YOUR REQUIREMENTS OR BE AVAILABLE ON AN UNINTERRUPTED, SECURE, OR ERROR-FREE BASIS.
</p>
<p>
  NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED FROM SEVEN MINUTE APPS OR THROUGH THE SITE, SERVICES, SEVEN MINUTE APPS CONTENT OR USER CONTENT, WILL CREATE ANY WARRANTY NOT EXPRESSLY MADE HEREIN.
</p>

<h3>Indemnity</h3>
<p>
  You agree to defend, indemnify, and hold Seven Minute Apps, its officers, directors, employees and agents, harmless from and against any claims, liabilities, damages, losses, and expenses, including, without limitation, reasonable legal and accounting fees, arising out of or in any way connected with User Content, your access to or use of the Site, Services or Seven Minute Apps Content, or your violation of these Terms of Use.
</p>

<h3>Limitation of Liability</h3>
<p>
  YOU ACKNOWLEDGE AND AGREE THAT, TO THE MAXIMUM EXTENT PERMITTED BY LAW, THE ENTIRE RISK ARISING OUT OF YOUR ACCESS TO AND USE OF THE SITE, SERVICES, INCLUDING THE SEVEN MINUTE APPS APPLICATION, AND CONTENT THEREIN REMAINS WITH YOU. NEITHER SEVEN MINUTE APPS NOR ANY OTHER PARTY INVOLVED IN CREATING, PRODUCING, OR DELIVERING THE SITE, SERVICES OR SEVEN MINUTE APPS CONTENT WILL BE LIABLE FOR ANY INCIDENTAL, SPECIAL, EXEMPLARY OR CONSEQUENTIAL DAMAGES, INCLUDING LOST PROFITS, LOSS OF DATA OR LOSS OF GOODWILL.
</p>
<p>
  SERVICE INTERRUPTION, COMPUTER DAMAGE OR SYSTEM FAILURE OR THE COST OF SUBSTITUTE PRODUCTS OR SERVICES, ARISING OUT OF OR IN CONNECTION WITH THESE TERMS OF USE OR FROM THE USE OF OR INABILITY TO USE THE SITE, SERVICES OR CONTENT THEREIN, WHETHER BASED ON WARRANTY, CONTRACT, TORT (INCLUDING NEGLIGENCE), PRODUCT LIABILITY OR ANY OTHER LEGAL THEORY, AND WHETHER OR NOT SEVEN MINUTE APPS HAS BEEN INFORMED OF THE POSSIBILITY OF SUCH DAMAGE, EVEN IF A LIMITED REMEDY SET FORTH HEREIN IS FOUND TO HAVE FAILED OF ITS ESSENTIAL PURPOSE. YOU SPECIFICALLY ACKNOWLEDGE THAT SEVEN MINUTE APPS IS NOT LIABLE FOR THE DEFAMATORY, OFFENSIVE OR ILLEGAL CONDUCT OF OTHER USERS OR THIRD PARTIES AND THAT THE RISK OF INJURY FROM THE FOREGOING RESTS ENTIRELY WITH YOU.
</p>
<p>
  IN NO EVENT WILL SEVEN MINUTE APPS’S AGGREGATE LIABILITY ARISING OUT OF OR IN CONNECTION WITH THESE TERMS OR FROM THE USE OF OR INABILITY TO USE THE SITE, SERVICES OR CONTENT THEREIN EXCEED ONE HUNDRED U.S. DOLLARS ($100). THE LIMITATIONS OF DAMAGES SET FORTH ABOVE ARE FUNDAMENTAL ELEMENTS OF THE BASIS OF THE BARGAIN BETWEEN SEVEN MINUTE APPS AND YOU. SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, SO THE ABOVE LIMITATION MAY NOT APPLY TO YOU.
</p>

<h3>Proprietary Rights Notices</h3>
<p>
  All trademarks, service marks, logos, trade names and any other proprietary designations of Seven Minute Apps used herein are trademarks or registered trademarks of Seven Minute Apps. Any other trademarks, service marks, logos, trade names and any other proprietary designations are the trademarks or registered trademarks of their respective parties.
</p>

<h3>Controlling Law and Jurisdiction</h3>
<p>
  These Terms of Use and any action related thereto will be governed by the laws of the State of California without regard to its conflict of laws provisions. The exclusive jurisdiction and venue of any action with respect to the subject matter of these Terms of Use will be the state and federal courts located in San Francisco, California, and each of the parties hereto waives any objection to jurisdiction and venue in such courts.
</p>

<h3>Entire Agreement</h3>
<p>
  These Terms of Use constitute the entire and exclusive understanding and agreement between Seven Minute Apps and you regarding the Site, Services and Seven Minute Apps Content, and these Terms of Use supersede and replace any and all prior oral or written understandings or agreements between Seven Minute Apps and you regarding the Site, Services and Seven Minute Apps Content.
</p>

<h3>Assignment</h3>
<p>
  You may not assign or transfer these Terms of Use, by operation of law or otherwise, without Seven Minute Apps’s prior written consent. Any attempt by you to assign or transfer these Terms of Use, without such consent, will be null and of no effect. Seven Minute Apps may freely assign these Terms of Use. Subject to the foregoing, these Terms of Use will bind and inure to the benefit of the parties, their successors and permitted assigns.
</p>

<h3>Notices</h3>
<p>
  You consent to the use of: (i) electronic means to complete these Terms of Use and to deliver any notices or other communications permitted or required hereunder; and (ii) electronic records to store information related to these Terms of Use or your use of the Site or Services. Any notices or other communications permitted to required hereunder, including those regarding modifications to these Terms of Use, will be in writing and given by Seven Minute Apps (x) via email if applicable (in each case to the address that you provide); or by posting to the Site or Services. For notices made by e-mail, the date of transmission will be deemed the date on which such notice is transmitted.
</p>

<h3>General</h3>
<p>
  The failure of Seven Minute Apps to enforce any right or provision of these Terms of Use will not constitute a waiver of future enforcement of that right or provision. The waiver of any such right or provision will be effective only if in writing and signed by a duly authorized representative of Seven Minute Apps. Except as expressly set forth in these Terms of Use, the exercise by either party of any of its remedies under these Terms of Use will be without prejudice to its other remedies under these Terms of Use or otherwise. If for any reason a court of competent jurisdiction finds any provision of these Terms of Use invalid or unenforceable, that provision will be enforced to the maximum extent permissible and the other provisions of these Terms of Use will remain in full force and effect.
</p>

<h3>Contacting Us</h3>
<p>
  If you have any questions about these Terms of Use, please contact Seven Minute Apps at info@sevenminuteapps.com.
</p>
<p>
  If you have any questions, complaints or claims with respect to any iTunes Store Sourced App you may contact Seven Minute Apps by emailing privacy@sevenminuteapps.com.
</p>